* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #6c6c6f;
}

/* Container for header content */ 
.container { 
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0,0,0,.7);
  border: 5px #6b7178;
  padding: 13px;
}

/* Avatar styling */
.container img {
  margin-right: 20px; /* Add spacing between the logo and the h1 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #fff;
}

/* Added nav bar styling */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Added hover effect */
nav a:hover {
  color: #6c6c6f;  
}

p {
  margin: 0;
}

/* Added banner using image provided, try to make it accessible */
.hero-banner {
  width: 100vw;
  height: 30vw;
  background-image: url('../images/02-hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: flex-end; 
  padding: 20px; 
}

/* created flexbox within banner container to always keep h2 bottom right */
.hero-banner h2 {
  background-color: #6c6c6f;
  border: 3px solid rgb(0,0,0,.7);
  border-radius: 6px;
  margin-top: auto;
}


/* spacing */
.page-wrapper { 
  padding: 20px; 
}

.page-section {
  margin-bottom: 30px;
}

.page-section-contact {
  margin-bottom: 50px;
}