* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #6c6c6f;
}

:root {
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* css variable for default box shadow */
}

/* Container for header content */ 
.container { 
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0,0,0,.7);
  border: 5px #6b7178;
  box-shadow: var(--box-shadow);
  padding: 13px;
}

/* Avatar styling */
.container img {
  margin-right: 20px; 
  height: 10%;
  width: 10%;
  border: 3px solid rgb(0,0,0,.7);
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #fff;
}

/* Added nav bar styling */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Added hover effect */
nav a:hover {
  color: #6c6c6f;  
}

/* Added banner using image provided, try to make it accessible */
.hero-banner {
  width: 100vw;
  height: 30vw;
  background-image: url('../images/02-hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: flex-end; 
  padding: 20px; 
}

/* created flexbox within banner container to always keep h2 bottom right */
.hero-banner h2 {
  background-color: #6c6c6f;
  border: 3px solid rgb(0,0,0,.7);
  border-radius: 6px;
  margin-top: auto;
}


/* main section flexbox trying to keep h2s to left content right */

.page-wrapper {
  padding: 10px;
  margin: 10px;
}

.page-wrapper img {
  max-width: 30%;
  max-height: 30%;
}

.about,
.work,
.contact {
  display: flex;
  flex-direction: row;
}

.page-wrapper h2 {
  align-items: flex-start;
  margin-right: 100px;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content {
  justify-content: flex-end;
  margin: 10px;
  padding: 10px;
}


